
h1, h2, h3, h4, h5, h6 {
    font-family: 'Chewy', cursive;
}

p.poetry {
    font-size: 2em;
    font-family: 'Patrick+Hand', cursive;
}

a:hover {
    text-decoration: none !important;
}

blockquote.blockquote {
    font-size: 1rem;
}

footer.blockquote-footer {
    font-size: 175%;
}