
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}

p {
    font-family: 'Didact Gothic', 'sans-serif';
    font-size: 1.2rem;
}

p.poetry {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.8rem;
}

a:hover {
    text-decoration: none !important;
}

blockquote.blockquote {
    font-size: 1rem;
}

footer.blockquote-footer {
    font-size: 175%;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif;
}

a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}