{% extends "base.html" %}

{% block page_content %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ author_name }}</h1>
                <p class="lead text-muted">{{ author_info.description }}</p>
                <p class="lead text-muted">{{ author_info.date_of_birth }}</p>
            </div>
        </section>
        <div class="container">
            <div class="row">
                {% for author_poem in author_poems %}
                    <h5>{{ author_poem.title }}</h5>
                    <p>{{ author_poem.lines }}</p>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}