{% extends "base.html" %}

{% block page_content %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Poetflask</h1>
                <p class="lead text-muted">Description</p>
            </div>
        </section>
        <div class="container">
            <div class="row">
                {% for author in author_list %}
                    <div class="col-md-6">
                        <img src="{{ author.image_location }}" style="max-height: 300px; max-width: 300px">
                        <h3>{{ author.author }}</h3>
                        <p>Date of Birth: {{ author.date_of_birth }}</p>
                        <p>Date of Death: {{ author.date_of_death }}</p>
                        <p>{{ author.description }}</p>
                    </div>
                {% endfor %}
                <ul>
            </div>
        </div>
    </main>

{% endblock %}