{% extends "base.html" %}

{% block page_content %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ title }}</h1>
            </div>
        </section>
        <div class="container">
            <div class="row">
                {% for author in author_list %}
                    <div class="col-md-12">
                        <div class="card flex-md-row mb-4">
                            <a href="{{ url_for("author_page", author=author.author) }}">
                                <img class="card-img-left" src="{{ author.image_location }}"
                                 style="max-height:350px; max-width: 350px; min-height: 300px; min-width: 300px">
                            </a>
                            <div class="card-body d-flex flex-column">
                                <a href="{{ url_for("author_page", author=author.author) }}"
                                   style="color: inherit;">
                                    <h1 class="card-title">{{ author.author }}</h1>
                                </a>
                                <p class="card-text">Date of Birth: {{ author.date_of_birth }}</p>
                                <p class="card-text">Date of Death: {{ author.date_of_death }}</p>
                                <p class="card-text">{{ author.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}