{% extends "base.html" %}

{% block page_content %}

{#    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Poetry Search<span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>

            <h5 class="sidebar-heading d-flex align-items-left px-3 mt-4 mb-1 text-muted">
                <span>Search Options</span>
            </h5>

            <form action="{{ url_for('authors_list') }}" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>{{ form.author_select.label }}</label>
                    {{ form.author_select(class_="form-control form-control-sm") }}
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </nav>#}

    <main role="main">
        <section class="jumbotron text-center" style="margin-bottom: 0">
            <div class="container">
                <h1 class="jumbotron-heading">Poetflask</h1>
                <p class="lead text-muted">Description</p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="authors"><img class="card-img-top" src="../static/img/poet.png"
                                 style="width: 100%; list-style-image: inherit; display: block;"></a>
                            <div class="card-body">
                                <h3 class="card-title">Poets</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-link" href="authors" role="button">See Poets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="../static/img/pen2.png"
                                 style="width: 100%; max-height: 400px; display: block;">
                            <div class="card-body">
                                <h3 class="card-title">Poetry</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-link" href="authors" role="button">See Poetry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="about"><img class="card-img-top" src="../static/img/poetry3.png"
                                 style="width: 100%; max-height: 400px; display: block;"></a>
                            <div class="card-body">
                                <h3 class="card-title">About</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-link" href="about" role="button">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="display-4 text-center">Poem of the Day</h1>
            </div>
        </div>
    </main>

{% endblock %}
