{% extends "base.html" %}

{% block content %}

{#    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Poetry Search<span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>

            <h5 class="sidebar-heading d-flex align-items-left px-3 mt-4 mb-1 text-muted">
                <span>Search Options</span>
            </h5>

            <form action="{{ url_for('authors_list') }}" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>{{ form.author_select.label }}</label>
                    {{ form.author_select(class_="form-control form-control-sm") }}
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </nav>#}
{#    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-cent pt-3 pb-2 mb-3 border-bottom">
            <h1>Poetry</h1>
        </div>
        <div class="row">
            {% for author_poem in author_poems %}
                <h5>{{ author_poem.title }}</h5>
                <p>{{ author_poem.lines }}</p>
            {% endfor %}
        </div>
    </main>#}

    <main role="main">
        <section class="jumbotron text-center" style="margin-bottom: 0">
            <div class="container">
                <h1 class="jumbotron-heading">Poetflask</h1>
                <p class="lead text-muted">Description</p>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%; display: block;">
                            <div class="card-body">
                                <h3 class="card-title">Authors</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%; display: block;">
                            <div class="card-body">
                                <h3 class="card-title">Poetry</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%; display: block;">
                            <div class="card-body">
                                <h3 class="card-title">About</h3>
                                <p class="card-text">Card text</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Button</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
