{% extends "base.html" %}

{% block page_content %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-3 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4 class="sidebar-heading d-flex align-items-left px-3 mt-4 mb-1 text-muted">
                        <span>Search Options</span>
                    </h4>

                    <form id="poetrySearchCriteria" method="post">
                        <div class="form-group">
                            <label for="poet_select" class="pt-3">Poet</label>
                            <select class="form-control" id="poet_select" name="poet_select">
                                <option disabled selected value> -- Poet Select -- </option>
                                {% for poet in poet_list %}
                                    <option>{{ poet.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="poet_gender" class="pt-3">Poet Gender</label>
                            <select class="form-control" id="poet_gender" name="poet_gender">
                                <option disabled selected value> -- Poet Gender -- </option>
                                <option>Female</option>
                                <option>Male</option>
                            </select>

                            <div class="form-inline pt-3">
                                <input class="form-check-input pr-3" type="checkbox" id="poet_born_before_checkbox"
                                       value="poet_born_before_option">
                                <label for="poet_born_before" class="pr-3"
                                       id="poet_born_before_label">Poet Born Before</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="poet_born_before_text" disabled>
                            </div>

                            <div class="form-inline pt-3">
                                <label class="col-sm-2 col-form-label" id="poet_born_before_min_birth">
                                    {{ min_poet_birth }}
                                </label>
                                <input type="range" class="custom-range" style="width: 50%;" id="poet_born_before"
                                   min="{{ min_poet_birth }}" max="{{ max_poet_birth }}" disabled>
                                <label class="col-sm-2 col-form-label" id="poet_born_before_max_birth">
                                    {{ max_poet_birth }}
                                </label>
                            </div>

                            <div class="form-inline pt-3">
                                <input class="form-check-input" type="checkbox" id="poet_born_after_checkbox"
                                       value="poet_born_after_option">
                                <label for="poet_born_after" class="pr-3"
                                       id="poet_born_after_label">Poet Born After</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="poet_born_after_text" disabled>
                            </div>

                            <div class="form-inline pt-3">
                                <label class="col-sm-2 col-form-label" id="poet_born_after_min_birth">
                                    {{ min_poet_birth }}
                                </label>
                                <input type="range" class="custom-range" style="width: 50%;" id="poet_born_after"
                                       min="{{ min_poet_birth }}" max="{{ max_poet_birth }}" disabled>
                                <label class="col-sm-2 col-form-label" id="poet_born_after_max_birth">
                                    {{ max_poet_birth }}
                                </label>
                            </div>

                            <label for="poem_name" class="pt-3">Poem Name</label>
                            <select class="form-control" id="poem_name" name="poem_name">
                                <option disabled selected value> -- Poem Name -- </option>
                                {%  for poem in poem_list %}
                                    <option>{{ poem.title }}</option>
                                {% endfor %}
                            </select>
                            <div class="pb-3 pt-3">
                                <button type="submit" class="btn btn-outline-primary" id="submitSearch">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
            <main role="main" class="col-8 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center
                            pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="display-5">Results</h1>
                </div>
                <p class="lead" id="poetrySearchLead">
                    Filter your search using the options in the sidebar. Matching poems will be displayed after
                    submitting a search request.
                </p>
                <div class="poetrySearchResults">
                    <p class="poetryResults"></p>
                </div>
            </main>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            if ($('#poet_born_before_checkbox').is(':checked') === false) {
                $('#poet_born_before_label').addClass('text-secondary');
                $('#poet_born_before_min_birth').addClass('text-secondary');
                $('#poet_born_before_max_birth').addClass('text-secondary')
            }
            else {
                $('#poet_born_before_label').removeClass('text-secondary');
                $('#poet_born_before_min_birth').removeClass('text-secondary');
                $('#poet_born_before_max_birth').removeClass('text-secondary')
            }

            if ($('#poet_born_after_checkbox').is(':checked') === false) {
                $('#poet_born_after_label').addClass('text-secondary');
                $('#poet_born_after_min_birth').addClass('text-secondary');
                $('#poet_born_after_max_birth').addClass('text-secondary')
            }
            else {
                $('#poet_born_after_label').removeClass('text-secondary');
                $('#poet_born_after_min_birth').removeClass('text-secondary');
                $('#poet_born_after_max_birth').removeClass('text-secondary')
            }

        });

        $('#poet_born_before_checkbox').click(function() {

            if ($('#poet_born_before_checkbox').is(':checked') === false) {

                $('#poet_born_before_label').addClass('text-secondary');
                $('#poet_born_before').prop('disabled', true);
                $('#poet_born_before_text').prop('disabled', true)
            }

            else {
                $('#poet_born_before_label').removeClass('text-secondary');
                $('#poet_born_before').prop('disabled', false);
                $('#poet_born_before_text').prop('disabled', false)
            }
        });

        $('#poet_born_after_checkbox').click(function() {

            if ($('#poet_born_after_checkbox').is(':checked') === false) {

                $('#poet_born_after_label').addClass('text-secondary');
                $('#poet_born_after').prop('disabled', true);
                $('#poet_born_after_text').prop('disabled', true)
            }

            else {
                $('#poet_born_after_label').removeClass('text-secondary');
                $('#poet_born_after').prop('disabled', false);
                $('#poet_born_after_text').prop('disabled', false)
            }
        });

        $('#poet_born_before').on('input', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#poet_born_before_text').val($('#poet_born_before').val())
        });

        $('#poet_born_after').on('input', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#poet_born_after_text').val($('#poet_born_after').val())
        });

        $('#poet_born_before_text').on('input', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#poet_born_before').val($('#poet_born_before_text').val())
        });

        $('#poet_born_after_text').on('input', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $('#poet_born_after').val($('#poet_born_after_text').val())
        });

        function search_poetry() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


            $(function() {
                let poet_born_a = "1343";
                let poet_born_b = "1895";

                if ($('#poet_born_before_checkbox').is(':checked') === true) {
                    poet_born_b = $('#poet_born_before').val()
                }

                if ($('#poet_born_after_checkbox').is(':checked') === true) {
                    poet_born_a = $('#poet_born_after').val()
                }
                $.getJSON($SCRIPT_ROOT + '/poetry_search', {
                    poet: $('#poet_select').val(),
                    poet_gender: $('#poet_gender').val(),
                    poet_born_before: poet_born_b,
                    poet_born_after: poet_born_a,
                    poem: $('#poem_name').val()
                },
                function (data) {

                    let intro_text = document.getElementById('poetrySearchLead');
                    intro_text.style.display = 'none';

                });
                return false;
            });
        }

        $(document).on('click', '#submitSearch', search_poetry)

    </script>

{% endblock %}
